<h1><%= @room.title %></h1>
<% @room.messages.each do |message| %>
  <%= render "messages/message", message: message %>
<% end %>
<%= form_tag room_messages_path(@room), method: :post do %>
  <div><textarea name="content" cols="30" rows="10"></textarea></div>
  <div><input type="submit" value="Submit message"></div>
<% end %>